layout {
    default_tab_template {
        pane size=1 borderless=true {
            // https://github.com/dj95/zjstatus?tab=readme-ov-file
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode}"
                format_right "{tabs}"

                // mode
                mode_normal          "#[bg=white,fg=black] zellij… "
                mode_rename_tab      "#[bg=white,fg=black] rename tab… "
                mode_locked          ""

                // tabs
                tab_normal "#[fg=black] {name} {floating_indicator}{fullscreen_indicator}{sync_indicator}"
                tab_active "#[fg=white,bg=black] {name} {floating_indicator}{fullscreen_indicator}{sync_indicator}"
                tab_sync_indicator       "󰓦 "
                tab_fullscreen_indicator "󰊓 "
                tab_floating_indicator   "󰉈 "
                tab_separator            " "
            }
        }
        children
    }

    tab name=".config" cwd="~/.config/" focus=true
    tab name="icuvisor" cwd="~/git/icuvisor-chat"

    // floating
    swap_floating_layout name="enlarged" {
        floating_panes max_panes=2 {
            pane { x 2; y 1; width "97%"; height "94%"; }
            pane { x 2; y 2; width "97%"; height "94%"; }
        }
    }
}